<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kazarian.android.explicitententhomeworkactivity">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExplicitEntentHomeworkActivity">
        <activity android:name=".KebabMenuHomeworkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CallTestActivity">
        </activity>
        <activity android:name=".TestPermisionActivity" />
        <activity android:name=".TestKebabMenueActivity" />
        <activity android:name=".TestNotificationActivity" />
        <activity android:name=".TestSharedPrefrencesActivity" />
        <activity
            android:name=".TestDialogThemeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".TestDialogActivity" />
        <activity android:name=".MainActivityTemp" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>